@import "./styles/breakpoints.scss";

form {
    width: 100%;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
     @include media("<668px") {
        display: flex;
        flex-direction: column;
     }
    input {
        flex-grow: 1;
        border-radius: 10px;
        border: 1px solid #1AA6B7;
        height: 50px;
        color: #1AA6B7;
    }
    input:focus {
        outline: none;
    }
    input::placeholder {
        color: #1AA6B7;
        opacity: 0.6;
        font-size: 30px;
        font-weight: 700;
        @include media("<668px") {
            font-size: 22px;
            }
      }
    input[type=text] {
        color:  #1AA6B7;
        font-size: 30px;
        font-weight: 700;
        padding-left: 15px;
    }
}

