@import "./sass/variables";

nav {
    .pagination {
        display: flex;
        flex-wrap: wrap;
        li {
            font-size: 20px;
            padding: 8px;
            margin: 5px;
            border-radius: 5px;
            color:  $primaryColor;
            list-style-type: none;
            background: $cardBg;
            a {
                text-decoration: none;
                color:  $primaryColor;
                &:visited {
                    color:  inherit;
                  }
            }
        }
    }
}