@import "../sass/breakpoints";
@import "../sass/variables";

button {
    border: none;
    border-radius: 10px;
    width: 15%;
    height: 50px;
    font-size: 20px;
    font-weight: $fontWeight;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
        font-size: 22px;
        transition: transform .2s ease-out;
    }
    @include media("<668px") {
     align-self: center;
      width: 40%;
      font-size: 16px;
     }
    @include media("<400px") {
            width: 100%;
           }
}

.clear {
    background-color: $whiteColor;
    color: $primaryColor;
    border: 1px solid  $primaryColor;
}

.search {
    color: $whiteColor;
    background-color: $primaryColor;
}